<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Главная страница</title>
</head>
<body>
    <div class="container">
        <h1 th:text="${mage}"></h1>
        <h1>ТАК ТАК ТАК</h1>
        <a href="@{/login}" class="btn btn-success">ПОДПИСАЛИСЬ НА ЭТОТ САЙТ</a>

        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <a th:href="@{/game-main}">ССЫЛКА НА ИГРУ</a>
    </div>

</body>
</html>